.icon-col {
  display: flex !important;
  flex-direction: column-reverse;
}

.title {
  margin: initial !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

ion-img::part(image) {
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 20px 8px rgb(3 19 100);
}
