<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="primary" (click)="scrollToSection('contacto')">
      <ion-icon src="assets/icon/contacto.svg" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>Diego Torres Mijarra</ion-title>

  <ion-buttons slot="end">
    <ion-button id="brujaButton" color="primary">
      <ion-icon src="assets/icon/bruja.svg" slot="icon-only" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-toolbar>

<div id="animationContainer">
  <ion-icon id="brujaIcon" src="assets/icon/bruja.svg"></ion-icon>
</div>
