<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-md="4" class="ion-align-items-center">
      <ion-img alt="FotoPersonal"
               src="assets/media/FotoCircular.jpeg"/>
    </ion-col>
    <ion-col size-md="8">
      <ion-card id="sobreMi">
        <ion-card-header>
          <ion-card-title>
            Sobre Mi:
          </ion-card-title>
          <ion-card-subtitle>
            👋 Holaaa, mi nombre es Diego Torres Mijarra
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          Soy alumno del grado de Desarrollo de Aplicaciones Web en el IES Luis Vives.

          Estoy dando mis primeros pasos en el mundo de la programación y tengo muchas ganas de aprender. A si que no
          tengas ningun problema en comentarme si hay algun error o problema 😉.

          Espero que te guste lo que encuentres 😊
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
