ion-grid {
  padding: 0;
  width: 100%;
}

ion-col {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-col:first-child {
  background-image: url("https://raw.githubusercontent.com/DiegoTorresMijarra/DiegoTorresMijarra/master/images/banner2.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

ion-card {
  margin: 0;
}

ion-img {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  align-self: center;
}

ion-img::part(image) {
  max-height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 42, 255, 0.5);
}


@media (max-width: 768px) {
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-card {
    width: 100% !important;
    margin: 5px !important;
  }
}
