<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col class="cabecera ion-align-items-center" size-xs="12" size-md="4" size="4">
      <ion-img id="FotoPersonal" alt="FotoPersonal"
               src="assets/media/FotoCircular.jpeg"/>
    </ion-col>
    <ion-col class="cabecera" size-xs="12" size-md="8" size="8">
      <ion-card id="sobreMi">
        <ion-card-header>
          <ion-card-title class="ion-align-items-center">
            Sobre Mi:
            <ion-buttons>
              <ion-button color="primary" fill="outline" shape="round" download
                          href="assets/CV_DiegoTorres2024(tecnico).pdf">
                CV:
                <ion-icon id="iconDarkMode" name="download-outline" slot="end"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center ion-padding-top">

          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-md="4">
                <ion-title class=""><strong>Diego Torres Mijarra</strong></ion-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="4">
                <strong>
                  💼 Desarrollador Web FullStack <br>
                  📌 Madrid, 25 años <br>
                  <span style="color: #018d01">#</span> OpenToWork
                </strong>
              </ion-col>
              <ion-col size-xs="12" size-md="8" size="4">
                <ion-text>
                  Este es mi portfolio personal, espero que le guste lo que encuentre. Para cualquier cosa, no dude en
                  contactar conmigo.
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
