<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-md="4" class="ion-align-items-center">
      <ion-img alt="FotoPersonal"
               src="assets/media/FotoCircular.jpeg"/>
    </ion-col>
    <ion-col size-xs="12" size-md="8">
      <ion-card id="sobreMi">
        <ion-card-header>
          <ion-card-title class="ion-align-items-center">
            Sobre Mi:
            <ion-buttons>
              <ion-button color="primary" fill="outline" shape="round" download
                          href="assets/CV_DiegoTorres2024(tecnico).pdf">
                CV:
                <ion-icon id="iconDarkMode" name="download-outline" slot="end"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify ion-padding-top">
          👋 Holaaa, mi nombre es <strong>Diego Torres Mijarra</strong> <br>

          Soy alumno del grado de Desarrollo de Aplicaciones Web en el IES Luis Vives.

          Estoy dando mis primeros pasos en el mundo de la programación y tengo muchas ganas de aprender. A si que no
          tengas ningun problema en comentarme si hay algun error o problema 😉.
          <br>
          Espero que te guste lo que encuentres 😊
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
