<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Leyenda:</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <!-- Sobre mí -->
      <ion-item button detail="true" (click)="scrollToSection('sobreMi')">
        <ion-label>Sobre mí</ion-label>
      </ion-item>

      <!-- Tecnologías -->
      <ion-item button detail="true" (click)="scrollToSection('tecnologias')">
        <ion-label>Tecnologías</ion-label>
      </ion-item>

      <!-- Proyectos -->
      <ion-item button detail="true" (click)="scrollToSection('proyectos')">
        <ion-label>Proyectos</ion-label>
      </ion-item>

      <!-- Experiencia -->
      <ion-item button detail="true" (click)="scrollToSection('experiencia')">
        <ion-label>Experiencia</ion-label>
      </ion-item>

      <!-- Formación -->
      <ion-item button detail="true" (click)="scrollToSection('formacion')">
        <ion-label>Formación</ion-label>
      </ion-item>

      <!-- Más sobre mí -->
      <ion-item button detail="true" (click)="scrollToSection('masSobreMi')" style="display: none">
        <ion-label>Más sobre mí</ion-label>
      </ion-item>

      <!-- Contacto -->
      <ion-item button detail="true" (click)="scrollToSection('contacto')">
        <ion-label>Contacto</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title slot="start">Powered By:</ion-title>
      <ion-buttons slot="end">
        <ion-button href="https://ionicframework.com/" shape="round">
          <ion-icon name="logo-ionic" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button href="https://angular.dev/" shape="round">
          <ion-icon name="logo-angular" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-content class="ion-page ion-padding" id="main-content" #mainContent>
  <app-content-header></app-content-header>
  <hr style="border-top: 3px solid black" class="ion-margin-bottom">
  <app-content></app-content>
</ion-content>
