<ion-item-group class="muestrario">

  <ion-item *ngFor="let trabajo of trabajos" class="muestra ion-align-items-center" lines="full" button detail="false" id="{{'trabajo'+trabajo.id}}">

    <ion-label class="descripcion">
      <h2 class="titulo ion-margin-bottom">{{trabajo.titulo}}: <span class="nota">{{trabajo.nota}}</span></h2>
      <p class="ion-text-justify">
        {{trabajo.resumen}} <br>
      </p>
      <p class="readMore">Seguir leyendo →</p>
    </ion-label>

    <ion-thumbnail slot="end">
      <img alt="{{'trabajo'+trabajo.id}}" src="{{trabajo.logo}}"/>
    </ion-thumbnail>

    <ion-modal #modal trigger="{{'trabajo'+trabajo.id}}" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
      <ng-template>
        <ion-content>
          <ion-card>
            <ion-card-title>
              <ion-toolbar>
                <ion-title class="titulo">{{trabajo.titulo}}: <span class="nota">{{trabajo.nota}}</span></ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-card-title>
            <ion-card-content>
              <ion-grid>
                <ion-row class="ion-padding-horizontal">
                  {{trabajo.descripcion}}
                </ion-row>
                <ion-row class="galleryRow">
                  <ion-col size-xl="2" size-xs="12" >
                    <ion-segment [scrollable]="true" (ionChange)="segmentChanged($event)">
                      <ion-segment-button *ngFor="let image, let  i = index of trabajo.images" value="{{'trabajo'+trabajo.id+'Image'+i}}" >
                        <ion-thumbnail><ion-img src="{{image}}"></ion-img></ion-thumbnail>
                      </ion-segment-button>
                    </ion-segment>
                  </ion-col>

                  <ion-col size-xl="10" size-xs="12">
                    <span class="galleryHelp" *ngIf="segment===''">
                      <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
                      Selecciona una imagen de la galería
                      <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
                    </span>
                    <ul class="gallery">
                      <li *ngFor="let image, let  i = index of trabajo.images" id="{{'trabajo'+trabajo.id+'Image'+i}}"><ion-img *ngIf="segment===('trabajo'+trabajo.id+'Image'+i)" src="{{image}}" alt="" />
                    </ul>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>

</ion-item-group>
