/*query for display on diferent screens*/

@media (min-width: 0px) {
  /*ion-components*/
  *{
    border-radius: 5px;
  }

  ion-item-group {
    height: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
  }

  .muestra::part(native){
    height: 100%;
    display: flex;
  }

  ion-label {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  ion-list {
    padding: 0;
  }

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  ion-list-header {
    padding-left: calc(var(--padding-start) * 1.2);

    border-style: solid;
    border-bottom-width: 3px;
    border-image: linear-gradient(to right,
      /*calc(var(--ion-border-color) - var(--ion-color-step-60)) 20%, todo*/
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 40%,   /* Negro transparente al 20% */
    rgba(0, 0, 0, 0) 80%)
    1;
  }

  ion-thumbnail {
    width: 20%;
    height: 100%;
    margin: 0;
  }

  ion-modal::part(content) {
    width: 50%;
    height: 50%;
  }

  ion-popover::part(content) {
    max-width: fit-content;
    margin: 0;
    border: 1px solid var(--ion-color-step-300, black);
  }

  ion-input {
    text-align: center;
  }

  ion-card {
    --background: #000;
    --color: #9efff0;
  }

  ion-card-content {
    text-align: justify;
    padding: 10px;
  }


  /*Clases for elements*/


  .badget {
    height: 2em;
    margin: 3px;
  }

  .muestrario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .titulo {
    padding-bottom: calc(var(--padding-bottom) * 1.2);
    width: 100%;
  }

  .nota {
    font: inherit;
    font-size: calc(80%);
    color: var(--ion-color-step-300);
  }

  .descripcion {
    padding-right: calc(var(--padding-end) + 5%);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
  }

  .muestra {
    height: 100%;
    width: 30%;
    margin: 10px 0 10px;
  }

  .tags {
    font: inherit;
    font-size: calc(80%);
    color: var(--ion-color-step-300);
    padding-top: var(--padding-top);
    text-align: end;
  }

  .readMore {
    width: 100%;
    text-align: end;
  }

  .copied {
    font: inherit;
    color: var(--ion-color-step-300);
  }

  .contactItemGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contactItem {
    --color-contact-label: rgb(50, 113, 121);
    margin-top: var(--margin-top);
    display: flex;
    flex-wrap: wrap;
    --background: var(--color-contact-label, black);
    min-width: fit-content;
  }

  .contactItem::part(native) {
    padding: 0;
  }

  #gmail .contactLabel, ion-button {
    --background: var(rgb(199,22,16));
  }

  .contactItem ion-button {
    --background: #56C7D7FF;
  }

  .contactLabel {
    background-color: #56C7D7FF;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .contactLabel ion-icon {
    font-size: calc(150%);
  }

}

@media (max-width: 1200px) {
  .muestra {
    height: 100%;
    width: 45%;
  }

  ion-modal::part(content) {
    width: 80%;
    height: 80%;
  }

  .contactItem {
    --inner-padding-end: 16px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px 0 0;
    width: 600px;
  }

  .contactLabel {
    min-width: 140px;
  }

}

@media (max-width: 600px) {

  ion-modal::part(content) {
    width: 95%;
    height: 80%;
  }

  /*Clases for elements*/

  .muestra {
    width: 100%;
    margin: auto;
  }

  .contactItem {
    font-size: 0;
    --inner-padding-end: 16px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px 0 0;
    width: 100%;
  }


  .contactItem::part(native){
    width: 100%;
  }

  #copyButtonEmail, #copyButtonGH , #copyButtonLk {
    padding-inline-start: 0 !important;
  }

  .contactLabel {
    min-width: 170px;
    font-size: 24px;
  }

  .contactLabel ion-icon {
    font-size: 24px;
    padding: 0;
    margin-right: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;

  li {
    flex: auto;
  }

  a {
    display: block;
  }

  img {
    width: 30vmin;
    height: 20vmin;
    object-fit: cover;
    object-position: top;
  }
}

.slides {
  overflow: hidden;
  width: 75vmin;
  height: 100vmin;

  li {
    width: 75vmin;
    height: 100vmin;
    position: absolute;
    z-index: 1;
  }

  img {
    height: 100vmin;
    object-fit: cover;
    object-position: top;
  }
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
